

table {
    width: 90%;
    margin: 0 90px;
  }

div {
    margin-top: 100px;
    color: white;
    font-size: 22px;
}

tr {
  cursor: pointer;
}

.accepted {
  background-color: green;
}

.rejected {
  background-color: red;
}

.neutral > .mat-cell {
  background-color: black;
  color: white;
}