<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input 
            ngModel
            matInput 
            type="text" 
            placeholder="Username" 
            name="username" 
            #username="ngModel"
            required>
            <mat-error *ngIf="username.invalid && username.errors.required">
              The username field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input 
            ngModel
            matInput 
            type="email" 
            placeholder="Email ID" 
            name="email" 
            #email="ngModel"
            required>
            <mat-error *ngIf="email.invalid && email.errors.required">
              The email field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input 
            ngModel
            matInput 
            type="password" 
            placeholder="Password" 
            name="password"
            #password="ngModel"
            required>
            <mat-error *ngIf="password.invalid && password.errors.required">
              The password field is required.
            </mat-error>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>