.create-user-wrapper{height:100%;}
.create-user-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.create-user-wrapper .example-full-width,.create-user-wrapper .btn-block{width:100%;}
.create-user-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.create-user-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.create-user-wrapper .mat-card{padding:40px 70px 50px;}
.create-user-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;}
.create-user-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.btn-green {
    color: green;
}

.btn-red {
    color: red;
}
